// 解决右键菜单中el-icon、sk-icon大小不一致的问题
.el-table-menu__icon-block {
  font-size: $--font-size-middle;
}

.el-dialog__body .el-form-item__content .el-date-editor, .el-dialog__body .el-form-item__content .el-select{
  width: 90%;
}

.sk-app__sidebar {
  .el-submenu [class^="el-icon-"] {
    font-size: $--font-size-middle;
    width: auto !important;
    margin-right: 0;
  }
}

.sky-form{
  .sky-base-info__title{
    .el-icon-question {
      float: none;
    }
  }
}
